<%- include('../includes/fullHead'); %>
  <%- include('./clientDetail'); %>
  <form method="post" action="">
    <button type="submit" class="btn btn-danger">
      Confirm Delete
    </button>
  </form>
<%- include('../includes/footer'); %>