<%- include('../includes/fullHead'); %>
<h3><strong>Category: </strong><%= category.category %></h3>
 <form method="post" action="">
  <button type="submit" class="btn btn-danger">
    Confirm Delete
  </button>
 </form>
<%- include('../includes/footer'); %>