<%- include('../includes/fullHead'); %>
  <% for(const category of categories) { %>
    <h3><strong>Category: </strong>
      <a href=<%= category.urlPage %>><%= category.category %></a>
    </h3>
    <hr>
  <% } %>
<%- include('../includes/footer'); %>